.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background: rgb(42,210,250);
  background: radial-gradient(circle, rgba(42,210,250,0.9721638655462185) 0%, rgba(139,196,166,1) 81%);
}
.input-serch{
  padding: 15px;
  border: none;
  outline: none;
  border-radius: 3px;
}
.btn-serch{
  padding: 15px;
  border: 1px solid white;
  border-radius: 3px;
  background-color: rgba(139,196,166,1);
  color: white

}
.gallery{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.photo-card{
  margin-top: 10px;
  display: flex;
  width: calc((100% - 30px) /3) ;
  margin-right: 10px;
  padding: 5px;
  flex-direction: column;
  &:nth-child(3n){
    margin-right: 0px;
  }
  border: 1px dotted rgb(192, 191, 191)
}
.img_box{
  flex: 1;
  display: flex;
  
}
.imgLink{
  width: 100%;
}
.info-item{
  border: 1px dotted rgb(197, 193, 193);
}
.box_pagination{
  display: flex;
  justify-content: center;
}
.load-more{
  padding: 15px;
  border: 1px dotted rgb(192, 187, 187);
  background-color: #8bc4a6;
  border-radius: 3px;
  font-size: 18px;
  position:fixed;
  right: 40px;
  bottom: 40px;
}
body{
  position: relative;
}
